{% raw %}
<!DOCTYPE html>
<html>
<body>
  <script src='http://d3js.org/d3.v2.min.js'></script>
  <style>
    .timeline .fieldLabel, .fieldDetail, .headline, .summaryLine,
    .timelineMarker {
      font-family: "Times New Roman, Times, serif";
      font-size: 20px;
      font-weight: bold;
    }
    .timeline .headline {
      font-size: 22px;
    }
    .timeline .summaryLine {
      font-size: 18px;
      font-weight: normal;
    }
    .timeline .fieldLabel {
      fill: rgb(204, 102, 0);
    }
    .timeline .fieldDetail, .timelineMarker {
      font-weight: normal;
    }
    .timeline .headline {
      font-size: 22px;
    }
    .timeline .summary {
      font-size: 18px;
      font-weight:normal;
    }
    .timeline .followTick, .followLine {
      fill: #B20000;
    }
    .timeline #fieldLabel {
      fill: rgb(204, 102, 0);
    }
    .headlineLink:hover, .photoAttributionLink:hover {
      fill:gray;
    }
  </style>
  <script>
    // Define an object representation for the most important part of
    // any timeline: EVENTS!!!!
    function textWrap(text, charPerLine) {
      var wordsList = text.split(" ");
      var textArray = [];
      var buildString = "";
      var i = 0;
      var nextWord = wordsList.shift();
      while (wordsList.length != 0) {
        if (nextWord.length + i > charPerLine) {
          i = 0;
          textArray.push(buildString);
          buildString = "";
        }
        buildString += nextWord + " ";
        i += nextWord.length + 1;
        nextWord = wordsList.shift();
      }
      if (nextWord.length + i > charPerLine) {
        textArray.push(buildString);
        textArray.push(nextWord);
      }
      else {
        textArray.push(buildString + " " + nextWord);
      }
      return textArray;      
    }

    var markerFormat = d3.time.format("%B");
    var detailFormat = d3.time.format("%B %e");
    var markerYearFormat = d3.time.format("%Y")
    function event() {
      this.firstFieldLabel="";
      this.firstFieldDetail="";
      this.secondFieldLabel="";
      this.secondFieldDetail="";
      this.thirdFieldLabel="";
      this.thirdFieldDetail="";
      this.headline="";
      this.headlineLink="";
      this.summary_="";
      this.date=new Date();
      this.hasFollowDate = false;
      this.followDate=new Date();
      this.imageLink="";
      this.photoAttribution="";
      this.photoAttributionLink="";
    };
{% endraw %}
    //Populate events array
    var events = []
    {% for row in COPY.Events %}
      var newEvent = new event()
      newEvent.firstFieldLabel="{{row.firstFieldLabel}}";
      newEvent.firstFieldDetail="{{row.firstFieldDetail}}";
      newEvent.secondFieldLabel="{{row.secondFieldLabel}}";
      newEvent.secondFieldDetail="{{row.secondFieldDetail}}";
      newEvent.thirdFieldLabel="{{row.thirdFieldLabel}}";
      newEvent.thirdFieldDetail="{{row.thirdFieldDetail}}";
      newEvent.headline="{{row.headline}}";
      newEvent.summary_="{{row.summary}}";
      newEvent.imageLink="{{row.imageLink}}";
      newEvent.headlineLink="{{row.headlineLink}}";
      newEvent.photoAttribution="{{row.photoAttribution}}";
      newEvent.photoAttributionLink="{{row.photoAttributionLink}}"
      {% if row.followYear %}
        newEvent.hasFollowDate=true;
        newEvent.followDate=new Date({{row.followYear}},
                                     {{row.followMonth}} - 1,
                                     {{row.followDay}});
      {% endif %}
      newEvent.date = new Date({{row.year}}, {{row.month}} - 1, {{row.day}});
      events.push(newEvent);
    {% endfor %}
    
{% raw %}
    //Find the min and max dates in our events array
    var minDate = d3.min(events, function(d) {return d.date.getTime();})
    var maxDate = d3.max(events, function(d) {
                    if (d.hasFollowDate) {
                      return d.followDate.getTime();
                    } else {
                      return d.date.getTime();
                    }
                  });
    

    //draw ticks (things that mark dates) on the timeline
    var heightOfTimeLine=390;
    var verticalOffsetOfTimeline=5;
    var tickOffset = 107;
    var tickWidth = 23;
    var tickHeight = 5;
    var widthOfTimeline= 7;
    var vertScale = d3.scale.linear()
        .domain([minDate, maxDate])
        .range([verticalOffsetOfTimeline, 
                heightOfTimeLine + verticalOffsetOfTimeline - tickHeight]);

    // draw everything in timeline once the window loads :-)
    window.onload = function() {
      var timeline = d3.select(".timeline");
      var ticks = timeline.selectAll(".tick")
          .data(events)
        .enter().append("rect")
          .attr("x", tickOffset)
          .attr("y", function(d) { return vertScale(d.date.getTime()); })
          .attr("width", tickWidth)
          .attr("height", tickHeight)
          .attr("onmouseover", "loadData(this)");
      loadData(ticks[0][0])

      timeline.select("#beginMarker")
              .text(markerFormat(new Date(minDate)));
      timeline.select("#beginMarkerYear")
              .text(markerYearFormat(new Date(minDate)));
      timeline.select("#endMarker")
              .text(markerFormat(new Date(maxDate)));
      timeline.select("#endMarkerYear")
              .text(markerYearFormat(new Date(maxDate)));
    }
    
    function date_key(d, i) {
      return d.date.getTime();
    }
    function text_key(d, i) {
      return d.text;
    }

    function loadData(tick) {
      var timeline = d3.selectAll(".timeline");
      if (tick.__data__.hasFollowDate) {
        var followTick = timeline.selectAll(".followTick")
            .data([{date:tick.__data__.followDate}], date_key);
        followTick
          .enter().append("rect")
            .attr("x", tickOffset)
            .attr("y", function(d) { return vertScale(d.date.getTime()); })
            .attr("width", tickWidth)
            .attr("height", tickHeight)
            .attr("class", "followTick");
        followTick.exit().remove();

        var followLine = timeline.selectAll(".followLine")
            .data([{date:tick.__data__.date, followDate:tick.__data__.followDate}], date_key);
        followLine
          .enter().append("rect")
            .attr("x", tickOffset)
            .attr("y", function(d) { 
                          return vertScale(d.date.getTime()) + tickHeight; })
            .attr("width", widthOfTimeline)
            .attr("height", function(d) {
                    return vertScale(d.followDate.getTime()) - vertScale(d.date.getTime()) - tickHeight; })
            .attr("class", "followLine");
        followLine.exit().remove();
      } else {
        timeline.selectAll(".followTick").remove();
        timeline.selectAll(".followLine").remove();
      }
      if (tick.__data__.firstFieldDetail.length > 0) {
        timeline.select("#firstFieldDetail")
                .text(tick.__data__.firstFieldDetail);
      } else {
        timeline.select("#firstFieldDetail")
                .text(detailFormat(tick.__data__.date));
      }
      if (tick.__data__.secondFieldDetail.length > 0 || !tick.__data__.hasFollowDate) {
        timeline.select("#secondFieldDetail")
                .text(tick.__data__.secondFieldDetail);
      } else {
        timeline.select("#secondFieldDetail")
                .text(detailFormat(tick.__data__.followDate));
      }
      timeline.select("#thirdFieldDetail")
              .text(tick.__data__.thirdFieldDetail);
      timeline.select("#firstFieldLabel")
              .text(tick.__data__.firstFieldLabel);
      timeline.select("#secondFieldLabel")
              .text(tick.__data__.secondFieldLabel);
      timeline.select("#thirdFieldLabel")
              .text(tick.__data__.thirdFieldLabel);
      var headlineText = textWrap(tick.__data__.headline, 51);
      timeline.select("#headlineLine1")
              .text(headlineText[0]);
      timeline.select("#headlineLine2")
              .text(headlineText[1]);
      timeline.select(".headlineLink")
              .attr("xlink:href", tick.__data__.headlineLink);
      timeline.select(".photoAttribution")
              .text("Photo By: " + tick.__data__.photoAttribution);
      timeline.select(".photoAttributionLink")
              .attr("xlink:href", tick.__data__.photoAttributionLink);
      var summaryText = textWrap(tick.__data__.summary_, 55);
      for (var i = 0; i < 5; i++) {
        timeline.select("#summaryLine" + (i + 1))
              .text(summaryText[i]);
      }
      timeline.select("#image")
              .attr("xlink:href", tick.__data__.imageLink)
    }

  </script>
  <svg width="660" height ="400" class="timeline">
    <text x="90" y="20" class="timelineMarker" id="beginMarker" text-anchor="end">
    </text>
    <text x="90" y="47" class="timelineMarker" id="beginMarkerYear" text-anchor="end">
    </text>
    <text x="90" y="360" class="timelineMarker" id="endMarker" text-anchor="end">
    </text>
    <text x="90" y="387" class="timelineMarker" id="endMarkerYear" text-anchor="end">
    </text>
    <rect x="100" y="5" width="7" height="390" fill="black" />
    <image x="150" y="15" width="300" height="225" id="image"/>
    <text x="470" y="30" class="fieldLabel" id="firstFieldLabel">
    </text>
    <text x="650" y="60" class="fieldDetail" id="firstFieldDetail" text-anchor="end">
    </text>
    <text x="470" y="95" class="fieldLabel" id="secondFieldLabel">
    </text>
    <text x="650" y="125" class="fieldDetail" id="secondFieldDetail" text-anchor="end">
    </text>
    <text x="470" y="160" class="fieldLabel" id="thirdFieldLabel">
    </text>
    <text x="470" y="190" class="fieldDetail" id="thirdFieldDetail">
    </text>
    <a class="photoAttributionLink">
      <text x="470" y="235" class="photoAttribution">
      </text>
    </a>
    <a class="headlineLink">
      <text x="150" y="265" class="headline" id="headlineLine1">
      </text>
      <text x="150" y="285" class="headline" id="headlineLine2">
      </text>
    </a>
    <text x="150" y="310" class="summaryLine" id="summaryLine1">
    </text>
    <text x="150" y="330" class="summaryLine" id="summaryLine2">
    </text>
    <text x="150" y="350" class="summaryLine" id="summaryLine3">
    </text>
    <text x="150" y="370" class="summaryLine" id="summaryLine4">
    </text>
    <text x="150" y="390" class="summaryLine" id="summaryLine5">
    </text>
    <text x="600" y="375" font-size="40px" font-family="Times New Roman, Times, serif" font-weight="bold">
      DT
    </text>
    <text x="560" y="398" font-size="20px" font-family="Times New Roman, Times, serif">
      Interactives
    </text>

  </svg>
</body>
</html>
{% endraw %}